*{
  padding:0px;
  margin:0px;
}
}
h1{
color:crimson;
text-align: left;
display:block;

}
body{
  background-image: url("../images/22.gif");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  top:0;
  bottom:0;
  height:100vh;

}
#navdiv ul{
  width:100%;
  height:80px;
  opacity: 1px;
  line-height:50px;
}

#navdiv li{
  list-style-type: none;
  display: inline-block;
  padding-left: 1px;
  padding-right: 1px;

}
#maindiv{
  width:100%;
  height:700px;
  background:none;

}
#navdiv ul a{
text-decoration: none;
color:crimson;
padding: 8px;
font-family: 'Cormorant Garamond', serif;
font-weight: bold;


}
#navdiv ul li{
  list-style-type: none;
  display:inline-block;
  float:right;
  padding-top:16px;
  font-size: 1.5em;

}
#navdiv ul li:hover{
  background:#d5d53b;
  transition:all 0.40s;
}
h1{
  color: crimson;
  margin-top:20px;
}
#navdiv h1{
  width:300px;
  float:left;
  cursor:pointer;
  margin-left:15px;
  font-family: 'Black Ops One', cursive;
  font-size: 40px;

}
#navdiv{
  opacity:90
  filter:(opacity=20);
}

ul{
  width:500px;
  white-space:normal;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: nowrap;
  font-family: arial;
}


ul h1{
  font-family: 'Orbitron', sans-serif;
  color:crimson;
}


.container{
  height:500px;
  background:black;
  opacity: 0.6;
  filter: alpha(opacity=30);
  padding-left:20px;
}
.container p{
  padding-left:10px;
  font-family:arial;
  color:#f8f86d;

}

a{
  color: yellow;
}


.mercia img{
  text-align: center;
  border-radius:25px 100px;
  top: 20%;
  margin-left:80px;
  border: dotted 3px crimson;
  width:20%;


}
.mercia p{
padding-left: 20px;
padding-right: 10px;
font-family: 'Cormorant Garamond', serif;
color:white;
font-size: 18px;


}
/* page two */
#about{
  position: relative;
}

.mercia{
  position: absolute;
  width:50%;
  float: left;

}

.Portfolio{
  position: absolute;
  background:black;
  float: right;
  width: 50%;
  left: 50%;
  height: 500px;
}


.aboutMe{
  text-transform: uppercase;
  word-spacing: 2px;
  background: black;
  color: crimson;
  font-family: monospace;
  padding: 20px;
  font-size: 40px;

}
.portfolio{
    text-transform: uppercase;
    word-spacing: 2px;
    background: black;
    color: crimson;
    text-align: center;
    font-family: monospace;
    padding: 20px;
    font-size: 35px;
    text-align: center;
}


.menu{
  padding-left: 0;
  margin:0;
  padding: 20px;
}

.footer{
  background-color: crimson;
  text-align:center;
  color:white;
  height: 30px;
  padding-top:0;
}
